
<h1 class="text-center text-info my-5">{{titulo}} </h1>
    <div class="container mt-5" *ngIf="galeria">

        <div class="row">
          <div class="card-group">
              <div class="col-lg-4 col-md-6 col-sm-12" *ngFor="let pelicula of galeria let i = index">
                  <div class="card mb-5" *ngIf="i < 3">
                  <div class="view overlay">
                      <img class="card-img-top" [src]=" pelicula | peliculaImagen" alt="Card image cap">
                    
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">{{pelicula.title}}</h4>
                        <p class="mb-2">{{pelicula.vote_average}}</p>
                        <hr>
                        <p class="container">{{pelicula.overview}}</p>
                       
                    </div>
              </div>   
        
            </div>
          </div>
        </div>  
      </div>