 <div class="container">

    <div class="row">
        <div class=" w-100 altura col-lg-5 col-md-6 col-sm-12 mt-5 d-flex flex-column justify-content-center align-items-center">
           <h1 class="mt-5 letra">{{peliculas.original_title}}</h1>
            
           
           <p class="text-center despegar">{{peliculas.overview}}</p>
              
              <!-- <div class="d-flex flex-row justify-content-center">
                  <a href="#" class="btn btn-outline-primary btn-block">algo</a>
                  <a href="#" class="btn btn-outline-primary btn-block">algo</a>
              </div> -->
          </div>
      
          
          <div class=" altura2 col-lg-7 col-md-6 col-sm-12 mt-5 pt-5">
              <img class="img-thumbnail img-fluid" [src]=" peliculas | peliculaImagen" alt="Card image cap">
          </div>
    </div>

 </div>