
<div class="container mt-5">
    <input type="text" 
           class="form-control redondo"
           placeholder="Busca tus peliculas favoritas"
           [(ngModel)]="buscar"
           name="buscar"
           (keyup.enter)="buscarPelicula()"
           >
</div>
<div class="container mt-5" *ngIf="peliculasBuscadas">
  <h1 class="text-center">Resultados de la busqueda:{{peliculasBuscadas.length}} </h1>
</div>
<div class="card-group mt-5">
    <div class="col-lg-4 col-md-6 col-sm-12" *ngFor="let pelicula of peliculasBuscadas">
        <div class="card mb-5">
            <img  class="card-img-top" alt="..." [src]="pelicula | peliculaImagen" > 
            <div class="card-body">
              <h5 class="card-title">{{pelicula.title}}</h5>
              <p class="card-text">{{pelicula.overview}}</p>
              <p class="card-text"><small class="text-muted">{{pelicula.vote_average}}</small></p>
            </div>
            <button class="btn btn-outline-info rounded-0">ver más...</button>
          </div>
          
    </div>
</div>